.page--projects__cavbrem-rebrand .section--intro {
  padding-bottom: 0; }

.page--projects__cavbrem-rebrand .section--banner .best-logo-container {
  width: 100%;
  position: absolute;
  bottom: 20px; }

.page--projects__cavbrem-rebrand .section--banner .best-logo {
  margin-left: 0;
  margin-right: auto;
  width: 70px; }
  @media (min-width: 576px) {
    .page--projects__cavbrem-rebrand .section--banner .best-logo {
      width: 100px; } }
  @media (min-width: 768px) {
    .page--projects__cavbrem-rebrand .section--banner .best-logo {
      width: auto; } }

.page--projects__cavbrem-rebrand .section--video-feature {
  padding-top: 70px; }
  @media (min-width: 576px) {
    .page--projects__cavbrem-rebrand .section--video-feature {
      padding-top: 105px; } }
  @media (min-width: 768px) {
    .page--projects__cavbrem-rebrand .section--video-feature {
      padding-top: 140px; } }
  .page--projects__cavbrem-rebrand .section--video-feature .text-group {
    margin-top: 70px;
    margin-bottom: 0; }

.page--projects__cavbrem-rebrand .section--website {
  padding-bottom: 0; }
  .page--projects__cavbrem-rebrand .section--website .website-desktop-img {
    margin-bottom: 70px; }
  .page--projects__cavbrem-rebrand .section--website .website-search-img {
    margin-top: 0;
    margin-bottom: 70px;
    position: relative;
    width: 80%; }
    @media (min-width: 576px) {
      .page--projects__cavbrem-rebrand .section--website .website-search-img {
        margin-top: 35px;
        left: -20%;
        width: auto; } }
    @media (min-width: 768px) {
      .page--projects__cavbrem-rebrand .section--website .website-search-img {
        margin-top: 70px; } }
    @media (min-width: 992px) {
      .page--projects__cavbrem-rebrand .section--website .website-search-img {
        margin-top: 105px; } }
    @media (min-width: 1200px) {
      .page--projects__cavbrem-rebrand .section--website .website-search-img {
        margin-top: 140px; } }
  .page--projects__cavbrem-rebrand .section--website .website-ipad {
    margin-top: 70px;
    margin-bottom: 70px;
    width: 60%; }
    @media (min-width: 576px) {
      .page--projects__cavbrem-rebrand .section--website .website-ipad {
        margin-top: 70px;
        width: auto; } }
    @media (min-width: 768px) {
      .page--projects__cavbrem-rebrand .section--website .website-ipad {
        margin-top: 70px; } }
    @media (min-width: 992px) {
      .page--projects__cavbrem-rebrand .section--website .website-ipad {
        margin-top: 105px; } }
    @media (min-width: 1200px) {
      .page--projects__cavbrem-rebrand .section--website .website-ipad {
        margin-top: 140px; } }

@media (min-width: 576px) {
  .page--projects__cavbrem-rebrand .section--pos .text-group {
    margin-top: 35px;
    margin-bottom: 70px; } }

@media (min-width: 768px) {
  .page--projects__cavbrem-rebrand .section--pos .text-group {
    margin-top: 70px;
    margin-bottom: 140px; } }

.page--projects__cavbrem-rebrand .section--pos .booklet-bags-a {
  position: relative;
  max-width: none;
  width: 132%; }

.page--projects__cavbrem-rebrand .section--pos .booklet-bags-b {
  position: relative;
  left: -58%;
  max-width: none;
  width: 135%; }
/*# sourceMappingURL=page--projects__cavbrem-rebrand.css.map */