.page--home .section--intro {
  padding-bottom: 140px; }
  @media (min-width: 768px) {
    .page--home .section--intro {
      padding-bottom: 140px; } }
  .page--home .section--intro .feature-img__bgvideo {
    position: relative;
    width: 100%;
    z-index: 1; }
  .page--home .section--intro .feature-img {
    margin-top: 150px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px; }
    @media (min-width: 576px) {
      .page--home .section--intro .feature-img {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0; } }
  .page--home .section--intro .feature-img:before {
    z-index: 2;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.25;
    display: none; }
    @media (min-width: 768px) {
      .page--home .section--intro .feature-img:before {
        display: block; } }
  .page--home .section--intro .feature-img__text-mask--inner {
    z-index: 3; }
  @media (min-width: 576px) {
    .page--home .section--intro .feature-img__text {
      font-size: 66px;
      top: 14%;
      left: -24.2%; } }
  @media (min-width: 768px) {
    .page--home .section--intro .feature-img__text {
      font-size: 90px; } }
  @media (min-width: 992px) {
    .page--home .section--intro .feature-img__text {
      font-size: 122px; } }
  @media (min-width: 1200px) {
    .page--home .section--intro .feature-img__text {
      font-size: 146px; } }
  .page--home .section--intro .feature-img__text--mobile {
    font-size: 49px;
    top: -150px;
    left: 0;
    display: block; }
    @media (min-width: 576px) {
      .page--home .section--intro .feature-img__text--mobile {
        display: none; } }
  .page--home .section--intro .feature-img__text--desktop {
    color: #fff;
    display: none; }
    @media (min-width: 576px) {
      .page--home .section--intro .feature-img__text--desktop {
        display: block; } }
  .page--home .section--intro .feature-img__text--inner {
    color: #fff; }
  .page--home .section--intro .feature-img__text--outer {
    color: #ed1c24; }

.page--home .section--why-work {
  padding-top: 0; }
  @media (min-width: 576px) {
    .page--home .section--why-work {
      padding-top: 0; } }
  .page--home .section--why-work .feature {
    margin-bottom: 30px; }
  @media (min-width: 576px) {
    .page--home .section--why-work .feature-video__text {
      font-size: 46px;
      left: -18.2%;
      top: -10%; } }
  @media (min-width: 768px) {
    .page--home .section--why-work .feature-video__text {
      font-size: 62px; } }
  @media (min-width: 992px) {
    .page--home .section--why-work .feature-video__text {
      font-size: 85px; } }
  @media (min-width: 1200px) {
    .page--home .section--why-work .feature-video__text {
      font-size: 100px; } }
  .page--home .section--why-work .feature-video__text--mobile {
    font-size: 49px;
    top: -67px;
    left: -15px; }
  .page--home .section--why-work .feature-video__text--outer {
    color: #fff; }
  .page--home .section--why-work .feature-video__text--inner {
    color: #000; }

.page--home .section--collaborative {
  padding-top: 140px;
  padding-bottom: 20px; }
  @media (min-width: 576px) {
    .page--home .section--collaborative {
      padding-top: 140px;
      padding-bottom: 140px; } }
  @media (min-width: 768px) {
    .page--home .section--collaborative {
      padding-top: 210px; } }
  @media (min-width: 992px) {
    .page--home .section--collaborative {
      padding-top: 280px; } }
  .page--home .section--collaborative .collab-feature {
    margin-bottom: 70px; }
    @media (min-width: 576px) {
      .page--home .section--collaborative .collab-feature {
        margin-bottom: 0; } }
  @media (min-width: 576px) {
    .page--home .section--collaborative .feature-img__text {
      font-size: 46px;
      left: -10%;
      top: -45%; } }
  @media (min-width: 768px) {
    .page--home .section--collaborative .feature-img__text {
      font-size: 62px; } }
  @media (min-width: 992px) {
    .page--home .section--collaborative .feature-img__text {
      font-size: 85px; } }
  @media (min-width: 1200px) {
    .page--home .section--collaborative .feature-img__text {
      font-size: 100px; } }
  .page--home .section--collaborative .feature-img__text--outer {
    display: none; }
    @media (min-width: 576px) {
      .page--home .section--collaborative .feature-img__text--outer {
        display: block; } }
  .page--home .section--collaborative .feature-img__text--mobile {
    display: block;
    font-size: 36px;
    top: -79px;
    left: -15px; }
    @media (min-width: 576px) {
      .page--home .section--collaborative .feature-img__text--mobile {
        display: none; } }
  .page--home .section--collaborative .feature-titles {
    position: relative; }
  .page--home .section--collaborative .feature-title {
    position: absolute;
    top: 0;
    left: 0; }
  .page--home .section--collaborative .feature-title {
    opacity: 0; }
  .page--home .section--collaborative .stamp {
    position: absolute;
    right: -60px;
    bottom: -60px;
    width: 120px; }
  .page--home .section--collaborative .stamp__rondell {
    position: relative; }
  .page--home .section--collaborative .stamp__f {
    position: absolute;
    top: 0; }
  @media (min-width: 576px) {
    .page--home .section--collaborative .photo-b {
      margin-top: -43%; } }

.page--home .section--talent {
  padding-bottom: 70px; }
  @media (min-width: 768px) {
    .page--home .section--talent {
      padding-bottom: 0px; } }
  .page--home .section--talent .talent-header {
    font-size: 36px;
    color: #000; }
    @media (min-width: 768px) {
      .page--home .section--talent .talent-header {
        font-size: 55px; } }
  .page--home .section--talent .federation {
    margin-top: 1.5em; }
  .page--home .section--talent .def-med {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    /* Medium */ }
  .page--home .section--talent .def-reg {
    font-family: Arial, sans-serif;
    font-weight: 400;
    /* Regular */
    color: #959595; }

.page--home .section--adding-value {
  padding-bottom: 35px; }
  @media (min-width: 576px) {
    .page--home .section--adding-value {
      margin-top: -70px;
      padding-bottom: 70px; } }
  @media (min-width: 768px) {
    .page--home .section--adding-value {
      padding-bottom: 140px; } }
  @media (min-width: 992px) {
    .page--home .section--adding-value {
      margin-top: -80px; } }
  .page--home .section--adding-value .row-a {
    margin-bottom: 140px; }
    @media (min-width: 576px) {
      .page--home .section--adding-value .row-a {
        margin-bottom: 70px; } }
    @media (min-width: 768px) {
      .page--home .section--adding-value .row-a {
        margin-bottom: 105px; } }
    @media (min-width: 992px) {
      .page--home .section--adding-value .row-a {
        margin-bottom: 140px; } }
  .page--home .section--adding-value .talent-img-a {
    margin-top: 0; }
    @media (min-width: 576px) {
      .page--home .section--adding-value .talent-img-a {
        margin-top: 0%; } }
  .page--home .section--adding-value .feature-img__text {
    display: none; }
    @media (min-width: 576px) {
      .page--home .section--adding-value .feature-img__text {
        display: block;
        width: 300%;
        font-size: 46px;
        left: -241%;
        top: 90%; } }
    @media (min-width: 768px) {
      .page--home .section--adding-value .feature-img__text {
        font-size: 62px; } }
    @media (min-width: 992px) {
      .page--home .section--adding-value .feature-img__text {
        font-size: 85px; } }
    @media (min-width: 1200px) {
      .page--home .section--adding-value .feature-img__text {
        font-size: 100px; } }
  .page--home .section--adding-value .feature-img__text--mobile {
    display: block;
    font-size: 49px;
    top: auto;
    bottom: -70px;
    left: -85%; }
    @media (min-width: 576px) {
      .page--home .section--adding-value .feature-img__text--mobile {
        display: none; } }
  .page--home .section--adding-value .phone {
    display: none; }
    @media (min-width: 576px) {
      .page--home .section--adding-value .phone {
        display: block;
        margin-top: 20%;
        margin-bottom: 0; } }
  .page--home .section--adding-value .value-img-c {
    margin-left: 24%;
    margin-top: 20%; }

.page--home .section--recent-news .intro {
  margin-bottom: 70px; }
  @media (min-width: 576px) {
    .page--home .section--recent-news .intro {
      margin-bottom: 80px; } }

.page--home .section--recent-news .feature-header {
  margin-bottom: 70px; }

.page--home .section--recent-news .feature-header__text {
  font-size: 49px;
  left: -15px;
  display: block; }
  @media (min-width: 576px) {
    .page--home .section--recent-news .feature-header__text {
      font-size: 46px;
      left: -5%; } }
  @media (min-width: 768px) {
    .page--home .section--recent-news .feature-header__text {
      font-size: 62px; } }
  @media (min-width: 992px) {
    .page--home .section--recent-news .feature-header__text {
      font-size: 85px; } }
  @media (min-width: 1200px) {
    .page--home .section--recent-news .feature-header__text {
      font-size: 100px; } }

.page--home .section--recent-news .news-col {
  padding-left: 40px;
  padding-right: 40px; }
  @media (min-width: 576px) {
    .page--home .section--recent-news .news-col {
      padding-left: 15px;
      padding-right: 15px; } }
/*# sourceMappingURL=page--home.css.map */