.page--projects__zoetis-ditch-the-itch .section--intro {
  padding-bottom: 0; }

.page--projects__zoetis-ditch-the-itch .section--video-feature {
  background-color: #1a1a1a;
  padding-top: 70px;
  padding-bottom: 140px; }
  @media (min-width: 576px) {
    .page--projects__zoetis-ditch-the-itch .section--video-feature {
      padding-top: 105px;
      padding-bottom: 105px; } }
  @media (min-width: 768px) {
    .page--projects__zoetis-ditch-the-itch .section--video-feature {
      padding-top: 140px;
      padding-bottom: 140px; } }
  .page--projects__zoetis-ditch-the-itch .section--video-feature .text-group {
    margin-bottom: 60px; }
  .page--projects__zoetis-ditch-the-itch .section--video-feature .feature-video {
    max-width: 60%;
    margin: 0 auto;
    display: block; }
    @media (min-width: 576px) {
      .page--projects__zoetis-ditch-the-itch .section--video-feature .feature-video {
        max-width: none;
        margin: 0 auto; } }
  .page--projects__zoetis-ditch-the-itch .section--video-feature .feature-video__image-group {
    position: absolute;
    width: 97.222222%;
    top: 12.046205%;
    left: 1.388889%; }
  .page--projects__zoetis-ditch-the-itch .section--video-feature .feature-video__bg {
    position: relative; }
  .page--projects__zoetis-ditch-the-itch .section--video-feature .left-video {
    margin-bottom: 60px; }
    @media (min-width: 576px) {
      .page--projects__zoetis-ditch-the-itch .section--video-feature .left-video {
        margin-bottom: 0;
        margin-right: 10%; } }
  @media (min-width: 576px) {
    .page--projects__zoetis-ditch-the-itch .section--video-feature .right-video {
      margin-left: 10%; } }

.page--projects__zoetis-ditch-the-itch .section--website {
  background-color: #1a1a1a; }
  .page--projects__zoetis-ditch-the-itch .section--website .text-group {
    margin-bottom: 60px; }
  .page--projects__zoetis-ditch-the-itch .section--website .website {
    margin-bottom: 70px; }
    @media (min-width: 768px) {
      .page--projects__zoetis-ditch-the-itch .section--website .website {
        margin-bottom: 140px; } }
  .page--projects__zoetis-ditch-the-itch .section--website .website-b {
    margin-top: 140px; }
  .page--projects__zoetis-ditch-the-itch .section--website .website-c {
    display: block; }
  .page--projects__zoetis-ditch-the-itch .section--website .website-images {
    margin-top: 70px;
    position: relative; }
    @media (min-width: 576px) {
      .page--projects__zoetis-ditch-the-itch .section--website .website-images {
        margin-top: 105px; } }
    @media (min-width: 768px) {
      .page--projects__zoetis-ditch-the-itch .section--website .website-images {
        margin-top: 140px; } }
  .page--projects__zoetis-ditch-the-itch .section--website .website-phone {
    display: block;
    position: relative;
    max-width: 50%;
    margin: 0 auto; }
    @media (min-width: 576px) {
      .page--projects__zoetis-ditch-the-itch .section--website .website-phone {
        position: absolute;
        margin: 0;
        width: 35%;
        left: -11%;
        top: -26%; } }

.page--projects__zoetis-ditch-the-itch .section--ooh {
  background-color: #1a1a1a; }
  .page--projects__zoetis-ditch-the-itch .section--ooh .poster-row {
    position: relative; }
  .page--projects__zoetis-ditch-the-itch .section--ooh .text-group {
    margin-bottom: 60px; }

.page--projects__zoetis-ditch-the-itch .section--project-next {
  padding-top: 70px; }
/*# sourceMappingURL=page--projects__zoetis-ditch-the-itch.css.map */