/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-family: 'Raleway', sans-serif;
    font-weight: 300; /* Light */
    color: #000;
    font-size: 1em;
    line-height: 1.4;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/* ==========================================================================
   Typography
   ========================================================================== */

@font-face {
  font-family: "icons";
  src:url("../fonts/icons.eot");
  src:url("../fonts/icons.eot?#iefix") format("embedded-opentype"),
      url("../fonts/icons.woff") format("woff"),
      url("../fonts/icons.ttf") format("truetype"),
      url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100; /* thin */
    margin-top: 0;
    margin-bottom: 0.3em;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300; /* light */
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 1.5em;
    @media (min-width: 768px) {
        font-size: 20px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    a {
        color: #ed1c24;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    strong {
        font-family: 'Raleway', sans-serif;
        font-weight: 500; /* Medium */
    }
}

.section--black p {
    color: #959595;
}

.section--white p {
    color: #000;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100; /* thin */
    font-size: 55px;
    line-height: 1;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100; /* thin */
    font-size: 55px;
    line-height: 1;
    &.h2--small {
        font-weight: 300; /* Light */
        font-size: 21px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}

.section--black h2 {
    color: #fff;
}

.section--white h2 {
    color: #959595;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100; /* thin */
    font-size: 55px;
    line-height: 1;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    display: none;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: black;
  color: #ffffff;
  padding: 20px;
  z-index: 9999;
  a {
    color: #faa320;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

/* ==========================================================================
   Loading
   ========================================================================== */

// .loading {
//   background-color: #fff;
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   top: 0;
//   z-index: 10;
//   opacity: 1;
//   transition: opacity 0.4s ease-in-out;
//   &:before {
//     content: "";
//     background-image: url('../img/logo_loading-d.png');
//     background-repeat: no-repeat;
//     background-size: 100%;
//     top: 50%;
//     width: 284px;
//     height: 69px;
//     margin: -45px auto 0;
//     position: relative;
//     display: block;
//   }
//   &.is-hidden {
//     opacity: 0;
//   }
// }

// .pace {
//   pointer-events: none;
//   user-select: none;
//   z-index: 2000;
//   position: fixed;
//   margin: auto;
//   margin-top: 40px;
//   top: 50%;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   height: 5px;
//   width: 280px;
//   background: #ebebeb;
//   border: 0;
//   overflow: hidden;
  
// }

// .pace .pace-progress {
//   box-sizing: border-box;
//   transform: translate3d(0, 0, 0);
//   max-width: 200px;
//   position: fixed;
//   z-index: 2000;
//   display: block;
//   position: absolute;
//   top: 0;
//   right: 100%;
//   height: 100%;
//   width: 100%;
//   background: #ED1C24;
// }

// .pace.pace-inactive {
//   display: none;
// }

/* ==========================================================================
   Structure
   ========================================================================== */

.page {
    overflow: hidden;
    background-color: #fff;
}

.section--black {
    background-color: #000;
}

.section--white {
    background-color: #fff;
}

.section {
    position: relative;
    z-index: 1;
    padding-bottom: 70px;
    @media (min-width: 576px) {
        padding-bottom: 105px;
    }
    @media (min-width: 768px) {
        padding-bottom: 105px;
    }
    @media (min-width: 992px) {
        padding-bottom: 140px;
    }
    &:first-child {
        padding-top: 70px;
         @media (min-width: 576px) {
            padding-top: 50px;
        }
        @media (min-width: 992px) {
            padding-top: 92px;
        }
    }
    &:first-child.section--projects-intro {
        padding-top: 70px;
         @media (min-width: 576px) {
            padding-top: 105px;
        }
        @media (min-width: 768px) {
            padding-top: 140px;
        }
    }
}

.text-group {
    margin-bottom: 60px;
    @media (min-width: 576px) {
        margin-bottom: 0;
    }
}

/* ==========================================================================
   Animation
   ========================================================================== */

.animate {
    position: relative;
}
.animate--slide-right-25 {
    left: -25%;
}
.animate--slide-left-25 {
    left: 25%;
}
.animate--fade-in {
    opacity: 0;
}
.animate--fade-up-25 {
//    opacity: 0;
}
.animate--rotate {
//    transform: rotate(180deg);
}
.infinite-scroll--forward {
    transform: translateX(-100%);
    white-space: nowrap;
}
.infinite-scroll--reverse {
    transform: translateX(-1000%);
    white-space: nowrap;
}
.infinite-scroll__container {
    font-size: 0;
}
.infinite-scroll__content {
    position: relative;
    display: inline-block;
}

/* ==========================================================================
   Components
   ========================================================================== */

/* Header */

body {
    /* display modal */
    // overflow: hidden;
    /* display modal */
    &.body--mobile-nav-open {
        overflow: hidden;
        padding-right: 15px;
        @media (max-width: 767px) {
            padding-right: 0;
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
    padding-top: 0;
  height: 50px;
  z-index: 4;
  opacity: 1;
  transition: top 0.2s ease-in-out;
  @media (min-width: 768px) {
	
  }
  @media (min-width: 992px) {
      top: 0;
      height: 70px;
      padding-top: 20px;
      padding-left: 25px;
      padding-right: 25px;
  }
  &.slide-out {
	top: -50px;
    @media (min-width: 992px) {
      top: -70px;
    }
  }
  &.full-width {
    @media (min-width: 992px) {
      top: -20px;
    }
  }
  &.slide-out.full-width {
    top: -70px;
  }
  .logo-group {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    z-index: 4;
    padding-left: 15px;
    background-color: #fff;
    @media (min-width: 992px) {
      padding-left: initial;
      text-align: left;
      width: auto;
    }
  }
  .logo {
    width: 141px;
    height: auto;
  }
  .mobile-nav {
    transition: top 0.2s ease-in-out;
    position: absolute;
    width: 100%;
    top: -330px;
    left: 0;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    z-index: 3;
    background-color: #fff;
    @media (min-width: 992px) {
      display: none;
    }
    &.is-open {
      top: 50px;
    }
    &.is-hidden {
      display: none;
    }
  }
  .mobile-nav-item {
    list-style-type: none;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 15px;
    }
  }
  .mobile-nav-link {
    display: inline-block;
    padding: 10px 0 7px;
    border-bottom: solid 2px #fff;
    transition: color 0.2s ease-out;
    font-family: 'Raleway', sans-serif;
    font-weight: 500; /* Medium */
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ed1c24;
    z-index: 1;
    &:hover {
      color: #000;
    }
    &:active, &.active {
        color: #000;
        padding-bottom: 7px;
        border-bottom: solid 2px #ed1c24;
    }
  }
  .mobile-nav-btn-group {
    display: block;
    @media (min-width: 992px) {
      display: none;
    }
  }
  .open-mobile-nav, .close-mobile-nav {
    position: absolute;
    right: 15px;
    top: 0;
    width: 29px;
    height: 50px;
    display: none;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    &.is-visible {
      display: block;
    }
  }
  .open-mobile-nav {
    background-image: url(../img/open-mob-nav.png);
    background-size: 20px 20px;
  }
  .close-mobile-nav {
    background-image: url(../img/close-mob-nav.png);
    background-size: 20px 20px;
  }
  .mobile-nav-bg {
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top:0;
    left:0;
    bottom:0;
    right:0;
    &.is-visible {
      visibility: visible !important;
      opacity: 1 !important;
    }
  }
  .main-nav {
    display: flex;
    align-items: center;
    position: relative;
    right: 0;
    height: 50px;
    padding: 0 25px;
    margin: 0;
    display: none;
    z-index: 4;
    @media (min-width: 992px) {
	  display: block;
	  text-align: right;
    }
  }
  .main-nav-item {
    display: inline-flex;
    align-items: center;
    padding: 26px 9px 12px;
    height: 50px;
    @media (min-width: 768px) {
      padding: 0 15px;
    }
    @media (min-width: 992px) {
      padding: 0 25px;
	}
	&:last-child {
		padding-right: 0;
	}
  }
  .main-nav-link {
    transition: color 0.2s ease-out;
    font-family: 'Raleway', sans-serif;
    font-weight: 500; /* Regular */
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ed1c24;
    @media (min-width: 992px) {
      font-size: 14px;
    }
    @media (min-width: 1200px) {
      font-size: 14px;
    }
    &:hover {
      color: #000;
    }
    &:active, &.active {
        color: #000;
        padding-bottom: 7px;
        border-bottom: solid 2px #ed1c24;
    } 
  }
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 576px) {
        flex-direction: row; 
    }
    .footer__logo {
        width: 141px;
        height: auto;
        margin-bottom: 20px;
        @media (min-width: 576px) {
            margin-bottom: 0;
        }
    }
    .footer__linkedin {
        width: 40px;
    }
    .footer__link-button {
        position: relative;
        display: inline-flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300; /* light */
        font-size: 18px;
        text-decoration: none;
        color: #ed1c24;
        margin-bottom: 20px;
        transition: color 0.2s;
        left: -13px;
        @media (min-width: 576px) {
            margin-bottom: 0;
            font-size: 20px;
        }
        &:after {
            position: absolute;
            font-family: "icons" !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            speak: none;
            top: 4px;
            right: -25px;
            content: "c";
            color: #ed1c24;
            font-size: 16px;
            transition: right 0.2s, color 0.2s;
        }
        span {
            color: #fff;
        }
    }
    .footer__link-button:hover {
        color: #fff;
        &:after {
            right: -27px;
            color: #fff;
        }
    }
}

/* Modal */

body {
    /* display modal */
    // overflow: hidden;
    /* display modal */
    &.body--modal-open {
        overflow: hidden;
        padding-right: 15px;
        @media (max-width: 767px) {
            padding-right: 0;
        }
    }
}

.modal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1050;
    position: fixed;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    &.modal--is-open {
        opacity: 1;
    }
    &.modal--is-visible {
        overflow-x: hidden;
        overflow-y: auto;
        visibility: visible;
    }
}

.modal__dialog {
    top: 50%;
    transform: translate(0, -25%);
    position: relative;
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in-out;
    width: auto;
    @media (max-width: 1199px) {
        width: 860px;
    }
    @media (max-width: 899px) {
        width: 730px;
    }
    @media (max-width: 767px) {
        width: auto;
        margin: 60px 20px 20px;
    }
    &:focus {
        outline: 0;
    }
    &.modal__dialog--modal-open {
        transform: translate(0, -50%);
        opacity: 1;
    }
}

/* Video */

body {
    /* display modal */
    // overflow: hidden;
    /* display modal */
    &.body--video-open {
        overflow: hidden;
        padding-right: 15px;
        @media (max-width: 767px) {
            padding-right: 0;
        }
    }
}

.work-video {
    display: flex;
    
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  left: -100%;
  opacity: 0;
  transition: left 0.4s ease-in-out, opacity 0.4s ease-in-out;
  &.videoopen {
    left: 0%;
    opacity: 1;
  }
  .work-video-bg {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    background: rgba(0,0,0,0.9);
    position: absolute;
  }
  .intro-video {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    display: block;
  }
    .player-container { 
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
      iframe, object, embed { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  .container {
    position: relative;
  }
    .row {
        align-items: center;
        height: 100%;
    }
  .modal-close-btn {
    right: 15px;
    top: -40px;
    width: 29px;
    height: 40px;
    position: absolute;
    background-image: url(../img/close-mob-nav.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .endframe {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    visibility: hidden;
    background: rgba(255,255,255,0.95);
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 0;
    padding: 20px;
    &.is-visible {
        display: flex;
        visibility: visible;
    }
  }
  .vidcontrols {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  .logo {
    display: none;
    width: 172px;
    margin: 0 auto 20px;
    @media (min-width: 768px) {
      display: block;
      width: 305px;
      margin: 0 auto 40px;
    }
  }
  .video-btn {
    cursor: pointer;
    display: block;
    width: 230px;
    margin: 0 auto;
    @media (min-width: 768px) {
      display: inline-block;
      width: initial;
      margin: 0 10px;
    }
  }
  .replay {
    margin-bottom: 10px;
  }
  .close-btn {
    &:after {
      content: "g";
      font-size: 12px;
      top: 14px;
    }
    &:hover, &:active {
      &:after {
        right: 20px;
      }
    }
    &:hover {
      background-color: #000;
    }
  }
}

/* Buttons */

.link-button {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; /* light */
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ed1c24;
    transition: color 0.2s;
    &:after {
        font-family: "icons" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        margin-left: 10px;
        content: "c";
        transition: margin-left 0.2s;
    }
    &:hover {
        color: #000;
        text-decoration: none;
        &:after {
          margin-left: 12px;
        }
    }
}

.section--black .link-button {
    &:hover {
        color: #fff;
    }
}

.link-button--close {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; /* light */
    font-size: 16px;
    line-height: 52px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: color 0.2s;
    &:after {
        font-family: "icons" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        margin-left: 10px;
        content: "b";
        font-size: 12px;
    }
    &:hover {
        color: #ed1c24;
    }
}

.link-button--download {
    &:after {
        content: "";
    }
    svg {
        fill:none;
        stroke:#ed1c24;
        margin-left: 12px; 
        transition: stroke 0.2s;
    }
}
.link-button--download:hover {
    svg {
        stroke:#000;
    }
}

.profile-button {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; /* light */
    font-size: 16px;
    line-height: 52px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ed1c24;
    transition: color 0.2s;
    &:after {
        font-family: "icons" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        margin-left: 10px;
        content: "b";
        font-size: 12px;
    }
    &:hover {
        color: #000;
    }
}

.profile-button--see-more {
    &:after {
        font-size: 11px;
        content: "b";
        transform: rotate(45deg);
    }
}

.profile-button--close {
    &:after {
        content: "b";
    }
}

.button {
    cursor: pointer;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; /* light */
    font-size: 16px;
    line-height: 52px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    height: 52px;
    padding-left: 23px;
    padding-right: 23px;
    transition: color 0.2s, border-color 0.2s, background-color 0.2s;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        display: block;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0;
        transition: width 0.2s;
    }
    &:hover:before {
        width: 100%;
    }
    &:hover {
        
    }
}

.button--red {
    color: #ed1c24;
    border-color: #ed1c24;
    &:before {
       background-color: #ed1c24;
    }
    &:hover {
        color: #fff;
    }
}

.button--red-inverse {
    color: #fff;
    border-color: #ed1c24;
    background-color: #ed1c24;
    &:before {
       background-color: #fff;
    }
    &:hover {
        color: #ed1c24;
    }
}

.button--view-slide {
    display: none;
    @media (min-width: 992px) {
        display: block;
    }
}

.button--close-slide {
    
}

/* Feature Header */

.feature-header {
    position: relative;
    .feature-header__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 100; /* Thin */
        font-size: 49px;
        left: -15px;
        width: 100%;
        line-height: 0.85;
        text-transform: uppercase;
        color: #000;
        position: relative;
        display: none;
        margin: 0;
        margin-bottom: 35px;
        @media (min-width: 576px) {
            display: block;
            font-size: 46px;
            left: -5%;
        }
        @media (min-width: 768px) {
            font-size: 62px;
        }
        @media (min-width: 992px) {
            font-size: 85px;
        }
        @media (min-width: 1200px) {
            font-size: 100px;
        }
    }
    .feature-header__text--mobile {
        display: block;
        margin: 0;
        margin-bottom: 35px;
        @media (min-width: 576px) {
            display: none;
        }
    }
}

.section--black .feature-header__text {
    color: #ed1c24;
}

/* Feature Image */

.feature-img {
    position: relative;
    z-index: 1;
    .feature-img__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 100; /* Thin */
        line-height: 0.85;
        text-transform: uppercase;
        width: auto;
        white-space: nowrap;
        top: 0;
        display: block;
    }
    .feature-img__text--mobile {
        display: block;
        @media (min-width: 576px) {
            display: none;
        }
    }
    .feature-img__text-mask {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .feature-img__text-mask--inner {        
        overflow: hidden;
    }
    .feature-img__image {
        position: relative;
    }
}

/* Feature Video */

.feature-video {
    position: relative;
    background-color: #000;
    cursor: pointer;
    &:hover {
        .feature-video__image {
            opacity: 1;
        }
    }
    .feature-video__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 100; /* Thin */
        line-height: 0.85;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        display: none;
        @media (min-width: 576px) {
            display: block;
        }
    }
    .feature-video__text--mobile {
        display: block;
        @media (min-width: 576px) {
            display: none;
        }
    }
    .feature-video__text-mask {
        position: absolute;
        top: 0;
        width: 100%;
        height: 89%;
    }
    .feature-video__text-mask--inner {        
        overflow: hidden;
    }
    .feature-video__image-group {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .feature-video__image {
        position: relative;
        opacity: 0.95;
        transition: opacity 0.2s;
    }
    .feature-video__play-btn {
        position: absolute;
        width: 56px;
    }
    .feature-video__caption {
        position: absolute;
        bottom: 15px;
        left: 15px;
        font-family: 'Raleway', sans-serif;
        color: #000;
        @media (min-width: 576px) {
        }
        @media (min-width: 768px) {
            bottom: 30px;
            left: 30px;
        }
    }
    .feature-video__caption--medium {
        font-weight: 500; /* Medium */
        font-size: 16px;
        @media (min-width: 768px) {
            font-size: 22px;
        }
    }
    .feature-video__caption--light {
        font-weight: 300; /* Light */
        font-size: 14px;
        @media (min-width: 768px) {
            font-size: 20px;
        }
    }
}

/* Mini Slider */

.mini-slider {
    .mini-slider__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: 576px) {
            justify-content: left;
        }
    }
    .mini-slider__mobile-nav-wrapper {
        margin-top: 30px;
         @media (min-width: 576px) {
            margin-top: 0;
        }
    }
    .mini-slider__btn {
        cursor: pointer;
        stroke: #ed1c24;
        transition: stroke 0.2s;
        &:hover {
            stroke: #000;
        }
    }
    .mini-slider__btn--inactive {
        stroke: #c7c7c5;
        pointer-events: none;
    }
    .mini-slider__slide-no {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300; /* Light */
        color: #000;
        text-align: center;
        width: 40px;
    }
    .mini-slider__progress-meter {
        position: relative;
        display: block;
        width: 72px;
        height: 1px;
        background-color: #c7c7c5;
    }
    .mini-slider__current-progress {
        position: absolute;
        width: 10%;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #ed1c24;
    }
    .mini-slider__slides-mask {
        overflow: hidden;
    }
    .mini-slider__slides {
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 0;
        left:0;
        transition: left 0.4s;
    }
    .mini-slider__slide {
        display: inline-block;
        width: 10%;
    }
    .mini-slider__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300; /* Light */
        color: #959595;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    .mini-slider__paragraph {
        font-size: 18px;
    }
}

/* News Article */

.news-article {
    position: relative;
    margin-bottom: 70px;
    &--left {
        margin-top: 0;
         @media (min-width: 576px) {
            margin-top: 70px;
        }
    }
    .news-article__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 100; /* Thin */
        line-height: 0.85;
        font-size: 36px;
        position: absolute;
        width: 140%;
        top: -23px;
        left: -15px;
        @media (min-width: 576px) {
            top: -5%;
            left: -10%;
            font-size: 27px;
        }
        @media (min-width: 768px) {
            top: -5%;
            left: -10%;
            font-size: 30px;
        }
        @media (min-width: 992px) {
            top: -7%;
            left: -10%;
            font-size: 41px;
        }
        @media (min-width: 1200px) {
            top: -7%;
            left: -10%;
            font-size: 49px;
        }
    }
    .news-article__text--mobile {
        display: block;
        @media (min-width: 576px) {
            display: none;
        }
    }
    .news-article__text-mask {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .news-article__text--outer {
        color: #000;
    }
    .news-article__text--inner {
        color: #fff;
    }
    .news-article__text-mask--inner {        
        overflow: hidden;
    }
    .news-article__image-mask {
        overflow: hidden;
        margin-bottom: 30px;
    }
    .news-article__image {
        position: relative;
    }
    .news-article__link {
        text-decoration: none;
        display: block;
    }
    .news-article__link:hover .link-button {
        color: #000;
    }
    .news-article__link:hover .link-button:after {
        margin-left: 12px;
    }
    .news-article__link .news-article__image {
        transition: transform 0.4s;
    }
    .news-article__link:hover .news-article__image {
        transform: scale(1.05);
    }
}

/* Project Detail Pages */

.section--projects-intro {
    position: fixed;    
    width: 100%;
     padding-bottom: 0;
     
    .project-feature-header {
        position: relative;
        .project-feature-header__text {
            font-family: 'Montserrat', sans-serif;
            font-weight: 100; /* Thin */
			// font-size: 49px;
			font-size: 9.25vw;
            left: -15px;
            width: 100%;
            line-height: 0.85;
            text-transform: uppercase;
            color: #ed1c24;
            position: relative;
            display: none;
            margin: 0;
            margin-bottom: 35px;
            @media (min-width: 576px) {
                display: block;
                font-size: 42px;
                left: -5%;
            }
            @media (min-width: 768px) {
                font-size: 57px;
            }
            @media (min-width: 992px) {
                font-size: 77px;
            }
            @media (min-width: 1200px) {
                font-size: 92px;
            }
        }
        .project-feature-header__text--mobile {
            display: block;
            margin: 0;
            margin-bottom: 35px;
            @media (min-width: 576px) {
                display: none;
            }
        }
    }
    .project-intro-company {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300; /* Light */
        text-transform: uppercase;
        font-size: 20px;
        color: #959595;
    }
    .project-intro-description {
        margin-bottom: 70px;
        @media (min-width: 576px) {
            margin-bottom: 105px;
        }
    }
}

.section--banner {
    padding-bottom: 0;
    .project-feature-image {
        position: relative;
        width: 100%;
        overflow: hidden;
        .project-feature-image__photo {
            width: 100%;
        }
    }
}

.project-detail {
    padding-top: 70px;
    @media (min-width: 576px) {
        padding-top: 105px;
    }
    @media (min-width: 768px) {
        padding-top: 140px;
    }
    .project-detail__tag-container {
        margin-bottom: 35px;
        @media (min-width: 576px) {
            margin-bottom: 0;
        }
    }
    .project-detail__tags {
        position: relative;
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
    }
    .project-detail__item {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300; /* Light */
        font-size: 16px;
        text-transform: uppercase;
        color: #959595;
        list-style-type: none;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .project-detail__square {
        position: absolute;
        display: block;
        width: 12px;
        height: 12px;
        background-color: #ed1c24;
    }
    .project-detail__description {
    }
    .project-detail__description p:last-child {
        margin-bottom: 0;
    }
}

.project-stats-container {
    position: relative;
    z-index: 1;
    background-color: #fff;
}

.section--project-stats {
    
    position: relative;
    padding-top: 70px;
    padding-bottom: 35px;
    @media (min-width: 576px) {
        padding-bottom: 35px;
    }
    @media (min-width: 768px) {
        padding-top: 105px;
        padding-bottom: 35px;
    }
    @media (min-width: 992px) {
        padding-top: 105px;
        padding-bottom: 35px;
    }
    .section--project-stats__background {
        background-color: #ed1c24;
        position: absolute;
        top: 0;
        width: 100%;
        height: 0;
    }
    .section--project-stats__group {
        margin-bottom: 35px;
        @media (min-width: 576px) {
            margin-bottom: 70px;
        }
        @media (min-width: 768px) {
            margin-bottom: 105px;
        }
        @media (min-width: 992px) {
            margin-bottom: 105px;
        }
    }
    .section--project-stats__number {
        font-family: 'Montserrat', sans-serif;
        font-weight: 100; /* Thin */
        font-size: 42px;
        display: block;
        @media (min-width: 576px) {
            font-size: 42px;
        }
        @media (min-width: 768px) {
            font-size: 42px;
        }
        @media (min-width: 992px) {
            font-size: 60px;
        }
    }
    .section--project-stats__number span {
        font-size: 84px;
        @media (min-width: 576px) {
            font-size: 84px;
        }
        @media (min-width: 768px) {
            font-size: 108px;
        }
        @media (min-width: 992px) {
            font-size: 142px;
        }
        @media (min-width: 1200px) {
             font-size: 178px;
        }
    }
    .section--project-stats__quote {
        font-family: 'Raleway', sans-serif;
        font-weight: 300; /* Medium */
        font-size: 24px;
        color: #000;
        margin: 0;
        margin-bottom: 30px;
        @media (min-width: 576px) {
        }
        @media (min-width: 768px) {
            font-size: 30px;
        }
        @media (min-width: 992px) {
        }
        @media (min-width: 1200px) {
        }
    }
    .section--project-stats__quote-ref {
        font-family: 'Raleway', sans-serif;
        font-weight: 300; /* Medium */
        font-size: 21px;
        color: #a50000;
    }
    .section--project-stats__quote-ref strong {
        font-family: 'Raleway', sans-serif;
        font-weight: 500; /* Medium */
    }
    .section--project-stats__description {
        font-family: 'Raleway', sans-serif;
        font-weight: 500; /* Medium */
        font-size: 30px;
        color: #a50000;
    }
    .section--project-stats__button {
        position: relative;
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300; /* Light */
        font-size: 20px;
        line-height: 1;
        color: #a50000;
        text-decoration: none;
        padding-left: 20px;
        border-left: solid 2px #a50000;
        transition: color 0.2s;
        margin-top: 35px;
        @media (min-width: 576px) {
            margin-top: 0;
        }
    }
    .section--project-stats__button-line-a {
        text-transform: uppercase;
        display: block;
        margin-bottom: 5px;
    }
    .section--project-stats__button-line-b {
        display: block;
        &:after {
            font-family: "icons" !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            speak-as: none;
            margin-left: 10px;
            content: "c";
            transition: margin-left 0.2s;
            font-size: 13px;
            color: #fff;
        }
    }
    .section--project-stats__button:hover {
        color: #fff;
    }
    .section--project-stats__button:hover .section--project-stats__button-line-b:after {
        margin-left: 12px;
    }
    .section--project-stats__button-white {
        color: #fff;
    }
}

.section--project-next {
    padding-bottom: 0;
    .section--project-next__button {
        margin-bottom: 70px;
        @media (min-width: 576px) {
            margin-bottom: 70px;
        }
        @media (min-width: 992px) {
             margin-bottom: 105px;
        }
    }
    .section--project-next__row {
        @media (min-width: 576px) {
            height: 149px;
        }
        @media (min-width: 768px) {
            height: 202px;
        }
        @media (min-width: 992px) {
             height: 273px;
        }
        @media (min-width: 1200px) {
             height: 325px;
        }
    }
}

/* Project-next */

.project-next-img {
    display: block;
    position: relative;
    margin-bottom: 70px;
    .project-next-img__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 100; /* Thin */
        line-height: 0.85;
        font-size: 36px;
        text-transform: uppercase;
        position: absolute;
        width: 140%;
        top: -23px;
        left: -15px;
        @media (min-width: 576px) {
            top: -9%;
            left: -10%;
            font-size: 36px;
        }
        @media (min-width: 768px) {
            top: -8%;
            font-size: 42px;
        }
        @media (min-width: 992px) {
            top: -8%;
            font-size: 60px;
        }
        @media (min-width: 1200px) {
            top: -8%;
            font-size: 72px;
        }
    }
    .project-next-img__text--mobile {
        display: block;
        @media (min-width: 576px) {
            display: none;
        }
    }
    .project-next-img__text-mask {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .project-next-img__text--outer {
        color: #000;
    }
    .project-next-img__text--inner {
        color: #fff;
    }
    .project-next-img__text-mask--inner {        
        overflow: hidden;
    }
    .project-next-img__image {
        position: relative;
        margin-bottom: 30px;
    }
}

/* Horizontal Scroller */

.horizontal-scroller {
    position: relative;
    width: auto;
    font-size: 0;
    white-space: nowrap;
    .horizontal-scroller__list {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        &.cloned {
            position:absolute;
            top:0;
            left:0;
        }
    }
    .horizontal-scroller__item {
        display: inline-block;
        list-style-type: none;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

