.page--about {
    .section--intro {
        p {
			
			@media (min-width: 768px) {
                font-size: 24px;
            }
        }
        .feature-img__bgvideo-wrapper {
            position: relative;
            width: 100%;
            padding-bottom: 35.8%;
            overflow: hidden;
            z-index: 1;
        }
        .feature-img__bgimage {
            position: absolute;
            width: 100%;
            top: -6.5%;
        }
        .feature-img {
            position: relative;
            width: 100%;
            margin-top: 40%;
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: 30px;
            @media (min-width: 576px) {
                margin-bottom: 30px;
                margin-top: 0;
                margin-left: 0;
                margin-right: 0;
            }
            @media (min-width: 768px) {
                margin-bottom: 90px;
            }
        }
        .feature-img:before {
            z-index: 2;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.25;
        }
        .feature-img__text-mask--inner {
            z-index: 3;
        }
        .feature-img__text {
            @media (min-width: 576px) {
                font-size: 10.35vw;
                top: 14%;
                left: 0;
            }
            @media (min-width: 768px) {
                font-size: 10.35vw;
            }
            @media (min-width: 992px) {
                font-size: 10.35vw;
            }
            @media (min-width: 1200px) {
                font-size: 10.35vw;
            }
        }
        .feature-img__text--mobile {
            position: absolute;
            font-size: 10vw;
            top: -74%;
            left: 0;
            display: block;
            @media (min-width: 576px) {
                display: none;
            }
        }
        .feature-img__text--desktop {
            color: #fff;
            display: none;
            @media (min-width: 576px) {
                display: block;
            }
        }
        .feature-img__text--inner {
            color: #fff;
        }
        .feature-img__text--outer {
            color: #ed1c24;
        }
    }
    .section--why-work {
        padding-top: 0;
        @media (min-width: 576px) {
            padding-top: 0;
        }
        .feature {
            margin-bottom: 30px;
        }
        .feature-video__text {
            @media (min-width: 576px) {
                font-size: 46px;
                left: -18.2%;
                top: -10%;
            }
            @media (min-width: 768px) {
                font-size: 62px;
            }
            @media (min-width: 992px) {
                font-size: 85px;
            }
            @media (min-width: 1200px) {
                font-size: 100px;
            }
        }
        .feature-video__text--mobile {
            font-size: 49px;
            top: -67px;
            left: -15px;
        }
        .feature-video__text--outer {
            color: #fff;
        }
        .feature-video__text--inner {
            color: #000;
        }
    }
    .section--founders {
        // padding-top: 70px;
        // padding-bottom: 70px;
        // @media (min-width: 992px) {
        //     padding-top: 140px;
        // }

        .feature-header {
            margin-bottom: 35px;
            @media (min-width: 576px) {
                margin-bottom: 70px;
            }
            .feature-header__text {
                font-size: 65px;
                @media (max-width: 576px) {
                    font-size: 40px;
                }
            }
        }
        .founders {
            width: 111.081081%;
            left: -4.2%;
        }
        .founders-mobile {
            width: 70%;
            left: 0%;
        }
    }
//    .section--founder-profiles {
//        padding-bottom: 70px;
//        @media (min-width: 992px) {
//            padding-bottom: 140px;
//        }
//        .profile-scroller {
//            display: none;
//            margin-bottom: 30px;
//            @media (min-width: 576px) {
//                margin-bottom: 70px;
//            }
//            @media (min-width: 992px) {
//                display: block;
//            }
//        }
//        .horizontal-scroller__item {
//            vertical-align: top;
//        }
//        .profile-item {
//            width: 280px;
//            cursor: pointer;
//            margin: 0;
//            padding: 0 10px;
//            white-space: normal;
//            transition: width 0.4s ease-in-out;
//            @media (min-width: 576px) {
//                width: 240px;
//            }
//            @media (min-width: 768px) {
//                width: 240px;
//            }
//            @media (min-width: 992px) {
//                width: 280px;
//            }
//            @media (min-width: 1200px) {
//                width: 280px;
//            }
//        }
//        .profile-item.profile-item--is-open {
//            width: 540px;
//            cursor: default;
//        }
//        .profile-item:hover .image {
//            opacity: 0.6;
//        }
//        .profile-item.profile-item--is-open .image {
//            opacity: 1;
//        }
//        .profile-item:hover .name {
//            color: #ed1c24;
//        }
//        .profile-item.profile-item--is-open .name {
//            color: #000;
//        }
//        .image-box {
//            position: relative;
//            width: 260px;
//            overflow: hidden;
//            background-color: #ed1c24;
//            transition: width 0.4s ease-in-out;
//            @media (min-width: 576px) {
//                width: 220px;
//            }
//            @media (min-width: 768px) {
//                width: 220px;
//            }
//            @media (min-width: 992px) {
//                width: 260px;
//            }
//            @media (min-width: 1200px) {
//                width: 260px;
//            }
//        }
//        .profile-item--is-open .image-box {
//            width: 520px;
//        }
//        .description {
//            max-height: 0;
//            overflow: hidden;
//            height:auto;
//            transition: max-height 0.4s ease-in-out;
//        }
//        .profile-item--is-open .description {
//            max-height: 1000px;
//        }
//        .image {
//            transform: translateX(-25%);
//            max-width: none;
//            transition: opacity 0.2s, transform 0.4s ease-in-out;
//        }
//        .profile-item--is-open .image {
//            transform: translateX(0);
//        }
//        .name {
//            font-family: 'Montserrat', sans-serif;
//            font-weight: 500; /* Medium */
//            font-size: 18px;
//            color: #231f20;
//            transition: color 0.2s;
//            margin-top: 15px;
//        }
//        .title {
//            font-family: 'Montserrat', sans-serif;
//            font-weight: 300; /* Light */
//            font-size: 15px;
//            color: #777777;
//        }
//        .close-btn {
//            cursor: pointer;
//            opacity: 0;
//            position: absolute;
//            top: 0;
//            right: 0;
//            width: 40px;
//            height: 40px;
//            background-color: #ed1c24;
//            background-image: url(../img/about/close-icon.png);
//            background-repeat: no-repeat;
//            background-position: center;
//            background-size: 15px;
//        }
//        .profile-item--is-open .close-btn {
//            opacity: 1;
//        }
//        .profiles--mobile {
//            display: flex;
//            flex-wrap: wrap;
//            margin-bottom: 70px;
//            @media (min-width: 992px) {
//                display: none;
//            }
//        }
//        .profiles--mobile .profile-item {
//            cursor:auto;
//            padding: 0 15px;
//            width: 100%;
//            margin-bottom: 70px;
//            @media (min-width: 576px) {
//                width: 50%;
//            }
//            &:last-child {
//                margin-bottom: 0;
//            }
//        }
//        .profiles--mobile .name {
//            margin-bottom: 0;
//        }
//        .profiles--mobile .profile-item:hover .name {
//            color: #231f20;
//        }
//        .profiles--mobile .profile-item:hover .image {
//            opacity: 1;
//        }
//        .profiles--mobile .profile-item .image {
//            position: relative;
//            left: 0;
//            transform: none;
//            width: 100%;
//        }
//        .profiles--mobile .image-box {
//            background-color: transparent;
//            width: 100%;
//            @media (min-width: 576px) {
//                width: auto;
//            }
//        }
//        .profiles--mobile .description {
//            display: none;
//            max-height: none;
//        }
//    }
    
    .section--founder-profiles {
        padding-bottom: 70px;
        @media (min-width: 992px) {
            padding-bottom: 140px;
        }
        .profile-scroller {
            display: none;
            margin-bottom: 30px;
            @media (min-width: 576px) {
                margin-bottom: 70px;
            }
            @media (min-width: 992px) {
                display: block;
            }
        }
        .horizontal-scroller__item {
            vertical-align: top;
        }
        .profile-item {
            width: 280px;
            cursor: pointer;
            margin: 0;
            padding: 0 10px;
            white-space: normal;
            transition: width 0.4s ease-in-out;
            @media (min-width: 576px) {
                width: 240px;
            }
            @media (min-width: 768px) {
                width: 240px;
            }
            @media (min-width: 992px) {
                width: 280px;
            }
            @media (min-width: 1200px) {
                width: 280px;
            }
        }
        .profile-item.profile-item--is-open {
            width: 540px;
            cursor: default;
        }
        .profile-item:hover .image {
            opacity: 0.6;
        }
        .profile-item.profile-item--is-open .image {
            opacity: 1;
        }
        .profile-item:hover .name {
            color: #ed1c24;
        }
        .profile-item.profile-item--is-open .name {
            color: #000;
        }
        .image-box {
            position: relative;
            overflow: hidden;
            background-color: #ed1c24;
            transition: width 0.4s ease-in-out;
        }
        .profile-item--is-open .image-box {
            width: 520px;
        }
        .description {
            max-height: 0;
            overflow: hidden;
            height:auto;
            transition: max-height 0.4s ease-in-out;
        }
        .profile-item--is-open .description {
            max-height: 1000px;
        }
        .image {
            transform: translateX(-25%);
            max-width: none;
            transition: opacity 0.2s, transform 0.4s ease-in-out;
        }
        .profile-item--is-open .image {
            transform: translateX(0);
        }
        .name {
            font-family: 'Raleway', sans-serif;
            font-weight: 500; /* Medium */
            font-size: 18px;
            color: #231f20;
            transition: color 0.2s;
            margin-top: 15px;
        }
        .title {
            font-family: 'Raleway', sans-serif;
            font-weight: 300; /* Light */
            font-size: 15px;
            color: #777777;
        }
        .close-btn {
            cursor: pointer;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
            background-color: #ed1c24;
            background-image: url(../img/about/close-icon.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 15px;
        }
        .profile-item--is-open .close-btn {
            opacity: 1;
        }
        .profiles--mobile {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 70px;
            @media (min-width: 992px) {
                display: none;
            }
        }
        .profiles--mobile .profile-item {
            cursor:auto;
            padding: 0 15px;
            width: 100%;
            margin-bottom: 70px;
            @media (min-width: 576px) {
                width: 50%;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .profiles--mobile .name {
            margin-bottom: 0;
        }
        .profiles--mobile .profile-item:hover .name {
            color: #231f20;
        }
        .profiles--mobile .profile-item:hover .image {
            opacity: 1;
        }
        .profiles--mobile .profile-item .image {
            position: relative;
            left: 0;
            transform: none;
            width: 100%;
        }
        .profiles--mobile .image-box {
            background-color: transparent;
            width: 100%;
            @media (min-width: 576px) {
                width: auto;
            }
        }
        .profiles--mobile .description {
            display: none;
            max-height: none;
        }
    }
    
    .section--images {
        .image-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        .image-a {
            margin-top: 3%;
            width: 23.587224%;
            position: relative;
        }
        .image-a__img {
            width: 100%;
            margin: 0;
        }
        .image-b {
            width: 36.486486%;
            margin: 0;
            margin-top: 13%;
        }
        .image-c {
            width: 26.289926%;
            margin: 0;
        }
        .stamp {
            position: absolute;
            right: -60px;
            top: -60px;
            width: 120px;
        }
        .stamp__rondell {
            position: relative;
        }
        .stamp__f {
            position: absolute;
            top: 0;
        }
    }
    .section--clients {
        padding-bottom: 70px;
        @media (min-width: 576px) {
            padding-bottom: 140px;
        }
        .feature-header {
            margin-bottom: 30px;
            @media (min-width: 576px) {
                margin-bottom: 70px;
            }
        }
        .our-clients {
            width: 65.495495%;
            left: -4.2%;
        }
        .clients-description {
            margin-bottom: 0;
        }
        .our-clients-mobile {
            width: 70%;
            left: -4%;
        }
        .client-logo-scroller {
            margin-top: 35px;
            @media (min-width: 576px) {
                margin-top: 70px;
            }
        }
        .client-logo-container {
            margin: 20px 40px;
            @media (min-width: 576px) {
                min-height: initial;
            }
        }
        .logo {
            max-width: none;
            height: 100px;
        }
    }
}