.page--contact {
    .section--intro {
        padding-bottom: 105px;
        padding-top: 105px;
        @media (min-width: 576px) {
            padding-top: 105px;
        }
        @media (min-width: 768px) {
            padding-top: 140px;
        }
        @media (min-width: 992px) {
            padding-top: 140px;
        }
        @media (min-width: 1200px) {
            padding-top: 175px;
        }
        p {
			
			@media (min-width: 768px) {
				font-size: 24px;
			}
        }
        p:last-child {
            margin-bottom: 0;
        }
        .feature-header {
            margin-bottom: 35px;
        }
        .feature-header__text {
            font-size: 10.35vw;
            left: 0;
			margin-bottom: 35px;
			@media (min-width: 768px) {
				margin-bottom: 105px;
			}
        }
    }
    .section--details {
        padding-bottom: 105px;
        .linkedin {
            display: inline-block;
        }
        .linkedin-img {
            width: 40px;
            margin-top: 12px;
        }
        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 300; /* Light */
            font-size: 16px;
            margin-bottom: 5px;
            color: #ed1c24;
        }
        p:last-child {
            margin-bottom: 0;
        }
        p a {
            text-decoration: none;
            color: #ed1c24;
        }
        .enquiries-group {
            margin-bottom: 35px;
            @media (min-width: 576px) {
                margin-bottom: 35px;
            }
        }
        .detail-group {
            margin-bottom: 35px;
        }
        .detail-group:last-child {
            margin-bottom: 0;
        }
        .title {
            text-transform: uppercase;
            font-size: 16px;
            color: #000;
            margin-bottom: 10px;
        }
    }
    .section--map {
        .map-canvas {
          height: 540px;
        }
        .map-text {
            margin-bottom: 0.5em;
            margin-top: 0.5em;
        }
    }
}