.page--results__true-honey {
    .section--intro {
        padding-bottom: 0;
    }
    .section--project-stats {
		.section--project-stats__number {
			// display: flex;
			// align-content: flex-end;
			@media (min-width: 576px) {
				
			}
			@media (min-width: 768px) {
			}
			@media (min-width: 992px) {
			}
			@media (min-width: 1200px) {
				// height: 250px;
				font-size: 100px;
			}
		}
		.section--project-stats__number span {
			
			@media (min-width: 576px) {
				
			}
			@media (min-width: 768px) {
				font-size: 88px;
			}
			@media (min-width: 992px) {
				font-size: 124px;
			}
			@media (min-width: 1200px) {
				font-size: 158px;
			}
		}
	}
    .section--website {
		background-color: #fff;
		padding-top: 70px;
		@media (min-width: 576px) {
			padding-top: 105px;
		}
		@media (min-width: 768px) {
			padding-top: 105px;
		}
		@media (min-width: 992px) {
			padding-top: 140px;
		}
        .text-group {
            margin-bottom: 60px;
		}
		.website-images {
            position: relative;
        }
        .website {
            margin-bottom: 35px;
		}
		.phone {
			position: absolute;
			right: -5%;
			bottom: -5%;
			width: 21%;
		}
	}
	
	.section--photography {
		.container-fluid {
			@media (min-width: 768px) {
				padding-left: 0;
				padding-right: 0;
			}
		}
		.text-group {
			margin-bottom: 35px;

			@media (min-width: 768px) {
				margin-bottom: 210px;
				margin-left: 35px;
			}
		}
		.feature-video {
			margin-bottom: 35px;
			@media (min-width: 768px) {
				margin-bottom: 70px;
			}
		}
		.boxing-clever {
			width: 100%;
		}
		.boxes-850 {
			width: 100%;
		}
		.honeycomb {
			width: 100%;
			margin-bottom: 35px;
			@media (min-width: 768px) {
				margin-bottom: 70px;
			}
		}
		.tab {
			width: 100%;
			margin-bottom: 35px;
			@media (min-width: 768px) {
				margin-bottom: 0;
			}
		}
	}
}

