.page--projects__cavbrem-rebrand {
    .section--intro {
        padding-bottom: 0;
    }
    .section--banner {
        .best-logo-container {
            width: 100%;
            position: absolute;
            bottom: 20px;
        }
        .best-logo {
            margin-left: 0;
            margin-right: auto;
            width: 70px;
            @media (min-width: 576px) {
                width: 100px;
            }
            @media (min-width: 768px) {
                width: auto;
            }
        }
    }
    .section--video-feature {
        padding-top: 70px;
        @media (min-width: 576px) {
            padding-top: 105px;
        }
        @media (min-width: 768px) {
            padding-top: 140px;
        }
        .text-group {
            margin-top: 70px;
            margin-bottom: 0;
        }
    }
    .section--website {
        padding-bottom: 0;
        .website-desktop-img {
            margin-bottom: 70px;
        }
        .website-search-img {
            margin-top: 0;
            margin-bottom: 70px;
            position: relative;
            width: 80%;
            @media (min-width: 576px) {
                margin-top: 35px;
                left: -20%;
                width: auto;
            }
            @media (min-width: 768px) {
                margin-top: 70px;
            }
            @media (min-width: 992px) {
                margin-top: 105px;
            }
            @media (min-width: 1200px) {
                margin-top: 140px;
            }
        }
        .website-ipad {
            margin-top: 70px;
            margin-bottom: 70px;
            width: 60%;
            @media (min-width: 576px) {
                margin-top: 70px;
                width: auto;
            }
            @media (min-width: 768px) {
                margin-top: 70px;
            }
            @media (min-width: 992px) {
                margin-top: 105px;
            }
            @media (min-width: 1200px) {
                margin-top: 140px;
            }
        }
    }
    .section--pos {
        .text-group {
            @media (min-width: 576px) {
                margin-top: 35px;
                margin-bottom: 70px;
            }
            @media (min-width: 768px) {
                margin-top: 70px;
                margin-bottom: 140px;
            }
        }
        .booklet-bags-a {
            position: relative;
            max-width: none;
            width: 132%;
        }
        .booklet-bags-b {
            position: relative;
            left: -58%;
            max-width: none;
            width: 135%;
        }
    }
}