.page--projects {
    .section--intro {
        padding-bottom: 70px;
        .feature-header {
            margin-bottom: 70px;
        }
    }
    .section--projects {
        padding-top: 0;
        .project {
            max-width: 360px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
        }
        .project__image-mask {
            overflow: hidden;
            margin-bottom: 20px;
        }
        .project__image {
            transition: transform 0.4s;
            cursor: pointer;
        }
        .project:hover .project__image {
            transform: scale(1.05);
        }
        .project__link {
            display: block;
            text-decoration: none;
        }
        .project__title {
            margin-bottom: 5px;
            position: relative;
            display: inline-flex;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300; /* light */
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: none;
            color: #ed1c24;
            transition: color 0.2s;
            &:after {
                font-family: "icons" !important;
                font-style: normal !important;
                font-weight: normal !important;
                font-variant: normal !important;
                text-transform: none !important;
                speak: none;
                margin-left: 10px;
                content: "c";
                transition: margin-left 0.2s;
            }
        }
        .project:hover .project__title {
            color: #fff;
        }
        .project:hover .project__title:after {
            margin-left: 12px;
        }
        .project__client {
            display: block;
            color: #777777;
        }
    }
}