.page--recent-news {
    .section--intro {
        padding-bottom: 105px;
        .feature-header {
            margin-bottom: 35px;
        }
    }
    .section--recent-news {
        .news-article__text--outer {
            color: #fff;
        }
        .news-article__text--inner {
            color: #000;
        }
        .link-button {
            
        }
        .news-article__link:hover .link-button {
            color: #fff;
        }
        
    }
    
}