.work--ditch-the-itch {
    .section--website-3 {
        &__col {
            @media (min-width: 576px) {
                padding-bottom: 50%;
            }
        }
        &__image {
            position: relative;
            display: block;
            margin-bottom: 60px;
            @media (min-width: 576px) {
                position: absolute;
                margin-bottom: 0;
            }
        }
        &__image-3 {
            @media (min-width: 576px) {
                width: 20%;
                left: 10%;
                top: 10%;
                z-index: 2;
            }
        }
        &__image-4 {
            @media (min-width: 576px) {
                width: 50%;
                left: 25%;
                bottom: 0%;
                z-index: 1;
            }
        }
        &__image-5 {
            @media (min-width: 576px) {
                width: 40%;
                right: 0;
                top: 0;
                z-index: 3;
            }
        }
    }
}